body {
    font-family: Noto Sans SC,Tofu,SFMono-Regular,SFMono,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

.navbar-brand svg {
    height: 1.5em;
    max-width: 100%;
}

.max-w-prose {
    display: none;
}

.powered-by {
    display: none;
}

body h1 {
    font-size: 2.0em !important; 
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
    line-height: 1;
}

#search {
    background-color: var(--pagefind-ui-background)
}